.dropMenu {
  /* display: inline-block; */
  position: fixed;
  left: 210px;
  float: right;
  width: auto;
  height: auto;
  font-size: 12px;
  margin: 0 24px 0 0;
  z-index: 99;
  padding: 5px 10px ;
  border: 2px solid #72a3d4;
  background-color: white;
  margin-top: 5px;
  
}
.dropMenu::before{
  content: '';
  position: absolute;
  top: -12px;
  right: 22px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #72a3d4;
}



.droplist > h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #666;
  vertical-align: top;
  padding: 0 0 4px 6px;
  border-bottom: 1px solid #d3d3d3;
}
.genderContainer {
  display: block;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  justify-content: space-around;  
  /* margin: 14px 10px 20px 10px; */
}
.customCheck{
    display: inline-block;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
