.topBar {
  background-color: black;
  padding: 10px;
}
.top {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.topHeadings {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
}
.header {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}
.headingText {
  margin: 10px;
  font-size: 12px;
  color: #888;
  font-weight: 600;
  line-height: 22px;
}
.container {
  width: 100%;
  height: 90vh;
  background-color: #f9f9f9;
  overflow: auto;
  position: relative;
  padding: 10px;
}
.filtersHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 10px; */
}
.filterTextContainer {
  display: flex;
  font-size: 16px;
}
.filterText p {
  font-size: 14px;
  margin: 5px;
  color: #343638;
}
.filterText button{
  font-size: 14px;
  margin: 5px;
  color: #343638;
  background-color: transparent;
  border: none;
}


.filterCitiesContainer{
  position: absolute;
  /* top: 40px; */
  /* padding: 5px; */
  width: 55%;
  margin-left: 145px;
  padding-bottom: 20px;
}
.currencyDropdown{
  width: 60px;
  background-color: transparent;
  border: none; 
  outline: none;
  color: #888;

}
.filterText {
  margin: 10px;
  color: #888;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filterText1 {
  margin: 10px;
  color: black;
  display: flex;
  align-items: center;
}
.selectInputContainer {
  display: flex;
  align-items: center;
}
.dropdown {
  height: 100%;
  font-size: 14px;
  margin: 5px;
  width: 130px;
  padding: 10px;
  border: 1px solid #d7dade;
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 10%);
  border-radius: 3px;
  color: gray;
  font-weight: 200;
  outline: none;
  height: 40px;
}
.dropdown1 {
  height: 100%;
  font-size: 14px;
  margin: 5px;
  width: 360px;
  padding: 10px;
  border: 1px solid #d7dade;
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 10%);
  border-radius: 3px;
  color: gray;
  font-weight: 200;
  outline: none;
  height: 40px;
}
.dropdown2 {
  height: 100%;
  font-size: 14px;
  margin: 5px;
  width: 110px;
  padding: 10px;
  border: 1px solid #d7dade;
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 10%);
  border-radius: 3px;
  color: gray;
  font-weight: 200;
  outline: none;
  background-color: #f6f6f6;
  height: 40px;
}
.switch1{
  width: 12px !important;
 height: 10%;
 font-size: 10px;
 
}
.inputsContainer{
  display: flex;
  flex-direction: column;
  position:relative
}
.btn {
  color: #fff;
  background-color: #5caf5f;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  letter-spacing: 0.6px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  display: inline-block;
  position: relative;
  width: auto;
  font-size: 14px;
  line-height: 10px;
  margin-left: 5px;
}
.searchGroup {
  height: 100%;
  font-size: 14px;
  height: 40px;
  width: 100%;
  padding: 12px;
  border: 1px solid #d7dade;
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 10%);
  border-radius: 3px;
  color: gray;
  font-weight: 200;
  outline: none;
}
.btn1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 8px 4px;
  border-radius: 4px;
  border: none;
  letter-spacing: 0.6px;
  background-color: #c2c2c2;
  width: 170px;
  margin-top: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn1Active {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 8px 4px;
  border-radius: 4px;
  border: none;
  letter-spacing: 0.6px;
  background-color: #5caf5f;
  width: 170px;
  margin-top: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconStyle {
  font-size: 20px;
}
.bottom {
  margin-top: 20px;
  position: fixed;
  bottom: 0px;
  width: 655px;
  border-top: 1px solid #dedede;
  box-shadow: 0 -1px 10px 0 rgb(0 0 0 / 10%);
}
.discardBtn {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 8px 4px;
  border-radius: 4px;
  border: none;
  letter-spacing: 0.6px;
  background-color: #9d9fa0;
  width: 170px;
  margin-top: 5px;
  color: white;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exploreBtn {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 8px 4px;
  border-radius: 4px;
  border: none;
  letter-spacing: 0.6px;
  background-color: #4584c4;
  width: 170px;
  margin-top: 5px;
  color: white;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
}
.discardBtnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px 10px;
}
.discardInputBtn {
  background-color: transparent;
  border: none;
  color: red;
}
.bottomMainContainer {
  margin-top: 120px;
}
.discardIconBtn {
  display: flex;
  align-items: center;
  color: red;
  justify-content: center;
}
.mapContainer {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}


.skillDropdown {
  border-radius: 3px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 0;
  font-size: 90%;
  padding: 2px;

}
.skillDropdown:hover {
  background-color: #f0f5f5;
}
.locationButton {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  color: gray;
  padding: 5px;
}

/* ///////tag//// */

.button {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  color: gray;
  padding: 5px;
}
.button:hover {
  color: blue;
}
.skillDropdown {
  border-radius: 3px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 0;
  font-size: 90%;
  padding: 2px;
}
.skillDropdown:hover {
  background-color: #f0f5f5;
}
.suggestionsButton{
  margin: 8px 8px 0 0;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #f3f3f3;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.border {
  border: 2px solid black;
}
.displayNone {
  display: none;
}